body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background: rgb(51, 76, 45);
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

h1 {
    font-size: 2.3em;
  line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

#main-header {
    background: #334C2D;
    color: white;
    height: 135px;
    
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}   
#main-header a {
        color: white;
    }
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
.menu{
    float: right;
    line-height: 135px;
}
.menu ul{
  display: flex;
  list-style: none;
}
.menu a{
  display: block;
  padding-right: 15px;
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease;
}
#main-header a:hover{
  color: #F4D03F;
}

.menu .submenu{
  background: #334C2D;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, .5);
  display: none;
  text-align: center;
}
.menu .submenu li a{
  line-height: 30px;

}
.menu ul li a:hover + ul, .menu .submenu:hover{
  display: block;

}
.submenu a{

}
@media screen and (max-width:940px){
    .menu ul{
        width: 80%;
        height: auto;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:10px;
        padding: 0px 0px;
    }
    .menu a{
        font-size: 70%;
    }
}

/*
.parallax {
  clear: both;
  width: 100%;
  height: 950px;
  background:url(../imagenes/fondou.jpg) fixed no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  line-height:0px;
  font-size: 400%;
}
*/
.parallax{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background:url(../imagenes/fondou.jpg) fixed no-repeat;
}

.tbunker{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tbunker;
    color:#F4D03F;
    font-size: 1000%;
    padding-top: 20%;
}
/*
}
.tbunker{
  font-family: tbunker;
  color: #F4D03F;
  text-align: center;
  padding-top: 190px;
}
*/
.arial{
  font-family:'arial';
}
.servicios h2 {
  text-align: center;
  font-size: 300%;
}

.contenedor{
  width: 100%;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
.fila-1{
  display: grid;
  /* Mostrar modo regilla*/
  grid-template-columns: 1fr 1fr 1fr;
  /* Crear plantilla a modo de columnas */
  grid-column-gap: 20px;
  /* Espacio externo a modo de columnas */
  grid-row-gap: 1em;
  /* Espacio externo entre filas */
}
.columna{
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  height: 150px;
  padding: 10px 20px;
}
h3 {margin-bottom: 0;}
li {padding-top: 5px;}

.line1 {
  width: 275px;
  height: 0px;
  margin-top: 55px;
  border-color: #000000;
}
.line2 {
  width: 275px;
  height: 0px;
  margin-top: 8px;
  border-color: #000000;
}
.line3 {
  width: 275px;
  height: 0px;
  margin-top: 53px;
  border-color: #000000;
}
.line4 {
  width: 275px;
  height: 0px;
  margin-top: 55px;
  border-color: #000000;
}
.line5 {
  width: 275px;
  height: 0px;
  margin-top: 8px;
  border-color: #000000;
}
.line6 {
  width: 275px;
  height: 0px;
  margin-top: 30px;
  border-color: #000000;
}
.line7 {
  width: 275px;
  height: 0px;
  margin-top: 55px;
  border-color: #000000;
}
.line8 {
  width: 275px;
  height: 0px;
  margin-top: 55px;
  border-color: #000000;
}
.line9 {
  width: 275px;
  height: 0px;
  margin-top: 55px;
  border-color: #000000;
}
.pack1 {
  color: #F4D03F;
}
.pack2 {
  color: #F4D03F;
}
.pack3 {
  color: #F4D03F;
}
.pack4 {
  color: #F4D03F;
}
.pack5{
  color: #F4D03F;
}
.pack6 {
  color: #F4D03F;
}
.pack7 {
  color: #F4D03F;
}
.pack8 {
  color: #F4D03F;
}
.pack9 {
  color: #F4D03F;
}

.servicio {
  width: 400px;
  height: 400px;
  border-radius: 400px;
  background: #000000;
  float: left;
  margin: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background: url(../imagenes/camo.jpg);
}
.pie-pagina .grupo-1{
    width: 100%;
    height: 300px;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.box a{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}
.box a:hover{
    color: #F4D03F;
}
.box h2{
    text-align: left;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #F4D03F;
}
.pie-pagina .grupo-2{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        height: auto;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}