
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background: rgb(51, 76, 45);
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px;
}

h1 {
    font-size: 2.3em;
  line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

#main-header {
    background: #334C2D;
    color: white;
    height: 135px;
    
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}   
#main-header a {
        color: white;
    }
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
.menu{
    float: right;
    line-height: 135px;
}
.menu ul{
  display: flex;
  list-style: none;
}
.menu a{
  display: block;
  padding-right: 15px;
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease;
}
#main-header a:hover{
  color: #F4D03F;
}

.menu .submenu{
  background: #334C2D;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, .5);
  display: none;
  text-align: center;
}
.menu .submenu li a{
  line-height: 30px;

}
.menu ul li a:hover + ul, .menu .submenu:hover{
  display: block;

}
.submenu a{

}
@media screen and (max-width:940px){
    .menu ul{
        width: 80%;
        height: auto;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:10px;
        padding: 0px 0px;
    }
    .menu a{
        font-size: 70%;
    }
}


.parallax {
	clear: both;
	width: 100%;
	height: 850px;
	background:url(../imagenes/fondoe.jpg) fixed no-repeat;
	background-size: cover;
	background-position: center top;
	text-align: center;
	line-height: 850px;
	font-size: 400%;
}
.parallax h1{
    font-family: tbunker;
    color: #F4D03F;
}


h2 {
	text-align: center;
	font-size: 200%;
	color: #fff;
}

.bunker {
	text-align: center;
}
.video{
	text-align: center;
}
/*
h5{
text-align: center;
font-size:300%;
color:#f4d03f;
line-height: 150px;	
}

hr { color: #304A2C; background-color: #304A2C; height: 5px; }

.centrado{
	margin:10px auto;
	display:block;
}*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background: url(../imagenes/camo.jpg);
}
.pie-pagina .grupo-1{
    width: 100%;
    height: 300px;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.box a{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}
.box a:hover{
    color: #F4D03F;
}
.box h2{
    text-align: left;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #F4D03F;
}
.pie-pagina .grupo-2{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        height: auto;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}